.text {
  color: white;
}

.carouselContainer {
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.tabContent {
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateY(20px);
  display: none;
}

.tabContent.active {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.bottomContainer {
  margin-bottom: 1rem;
}
