@font-face {
  font-family: "Circular";
  src: url("/assets/Fonts/circular-std-medium-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.popup {
  width: 90%;
  max-width: 400px;
  padding: 1rem 5rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  background: var(--white-trans, rgba(255, 255, 255, 0.1));
  margin-top: 15rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.title {
  margin: 1.5rem 0;
  text-align: center;
}

.container {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 81px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 18px;
  width: 18px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--white-trans, rgba(255, 255, 255, 0.1));
  border-radius: 5px;
}
.container p {
  margin-left: 30px;
}
.container:hover input ~ .checkmark {
  background-color: white;
}
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.signInLink {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
.remember {
  text-align: center;
}
.remember_container{
  width: 90%;
  max-width: 500px;
  display: flex;
  margin: 25px auto;

}

.primaryButton {
  display: flex;
  width: 100%;
  color: white;
  height: 53px;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.625rem;
  background: var(--accent, #1e40d8);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.top_logo {
  position: absolute;
  top: 2rem;
  left: 4rem;
}