.navbar {
  display: flex;
  align-items: center;
  padding: 0 60px;
  flex-wrap: wrap;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  margin-left: 1rem;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 0;
}

.navList li {
  color: white;
  padding-right: 20px;
  font-family: Circular;
  margin-right: 2rem;
}

.navList li:hover {
  cursor: pointer;
}

.navButtons {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  cursor: pointer;
}

.customPrimaryButton,
.customSecondaryButton {
  display: flex;
  width: 125px;
  height: 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0rem;
}

.customPrimaryButton {
  background: var(--accent, #1e40d8);
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
}

.customSecondaryButton {
  border: 2px solid var(--White, #fff);
  background-color: transparent;
}

.customSecondaryButton p,
.customPrimaryButton p {
  font-size: 13px;
}

.hamburgerButton {
  display: none;
  background: transparent;
  border: none;
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .logoContainer {
    margin-right: 1rem;
  }

  .navButtons {
    flex-direction: column;
    align-items: center;
  }

  .hamburgerButton {
    display: block;
    cursor: pointer;
  }

  .navList,
  .navButtons {
    display: none;
  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .showButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navList li,
  .navButtons a {
    margin: 10px 0;
  }
}

@media (max-width: 492px) {
  .navbar {
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }

  .customPrimaryButton {
    margin-left: 0;
  }
  .signButton {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

/* Add to your NavBarSignedIn.module.css */

.searchAndProfile {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust the space between search and profile icon as needed */
}

.searchContainer {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.searchInput {
  padding: 8px 8px 8px 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: transparent;
  color: white;
}

.profileIconContainer {
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  border: 1px solid white;
  color: white;
}
