.container {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    gap:2rem;
}

.inputs {
    width: 150px;
}

.block {
    border: 1px solid white;
    padding: 1rem;
}

.rated-block {
    border: 1px solid red;
    padding: 1rem;
}

.self-block {
    border: 1px solid green;
    padding: 0.5rem;
}

.like-button-done {
    background-color: green;
}
.dislike-button-done {
    background-color: red;
    color: white;
}

.related-block {
    display: flex;
    gap: 1rem;
}

.video-block {
    border: 1px dotted white;
    padding: 1rem;
}

.summary-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    min-height: 250px;
    position: relative;
    border: 1px solid white;
}

.summary-img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -5;
    object-fit:cover;
    object-position: center bottom;
}

.summary-block > p {
    color: white;
    background-color: rgba(0, 0 ,0, 0.7);
}