.container {
    display: flex;
    flex-direction: column;
    margin: 5rem;
    gap:2rem;
}

.inputs {
    width: 150px;
}

.block {
    border: 1px solid white;
    padding: 1rem;
}

.related-block {
    display: flex;
    gap: 1rem;
}

.video-block {
    border: 1px dotted white;
    padding: 1rem;
}