.popup {
  max-width: 500px;
  width: 90%;
  border-radius: 16px;
  background: var(--white-trans, rgba(255, 255, 255, 0.1));
  margin: 2rem auto;
  padding: 2rem;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.container input[type="checkbox"] {
  margin-right: 1rem;
}

.checkmark {
  height: 1rem;
  width: 1rem;
  border-radius: 5px;
  background-color: var(--white-trans, rgba(255, 255, 255, 0.1));
}

.remember,
.forgot {
  text-align: center;
  margin: 1rem 0;
}

.primary {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .popup {
    width: 85%;
  }
}

@media (max-width: 480px) {
  .popup {
    width: 95%;
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .container {
    flex-direction: column;
  }

  .forgot {
    margin-top: 1rem;
  }

  .primary {
    padding: 1rem;
  }
}
