.podcastCarousel {
  margin-bottom: 1rem;
}
/* .lastCarousel {
  margin-bottom: 2rem;
} */

.carouselBody {
  padding: 4rem;
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .carouselBody {
    padding: 1rem;
  }
}
.playNowButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #d9534f;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s, color 0.2s;
  margin-right: 2rem;
}
