.playNowButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(255, 255, 255, 0.1);
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-right: 1rem;

  transition: background-color 0.2s, color 0.2s;
}
@media (max-width: 768px) {
  .playNowButton {
    padding: 5px 50px;
  }
}
.playNowButton:hover {
  background-color: #c9302c;
  color: #fff;
}

.playNowButton:active {
  background-color: #d9534f;
  border-color: #fff;
}
