

  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  .popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    padding: 2rem;
    width: 90%;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--white-trans, rgba(255, 255, 255, 0.1));
  }
  .title {
    margin: 2rem;
    text-align: center;
  }
  
  .container {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 81px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 18px;
    width: 18px;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: var(--white-trans, rgba(255, 255, 255, 0.1));
    border-radius: 5px;
  }
  .container p {
    margin-left: 30px;
  }
  .container:hover input ~ .checkmark {
    background-color: white;
  }
  .container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .remember {
    margin: auto 81px;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
  

  .admin-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }

  .admin-choices {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .admin-choices-right {
    display: flex;
    flex-direction: column;
    min-width: 25rem;
  }

  .search-results {
    color: white;
    width: 50%;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 4px;
    background-color: #1a1a1a;
  }

  .search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    padding: 10px;
  }

  .search-title {
    font-size: 1rem;
  }

  .block-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
  }

  .search-button {
    padding: 1rem 2rem;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    margin-right: 2rem;
  }
  .search-button:hover {
    cursor: pointer;
    background-color: #1462a3;
    transition: all 0.3s;
  }



  .active-wrapper {
    width: 90%;
    background-color: #1a1a1a;
    border: 1px solid white;
    margin-top: 1rem;
    padding: 1.5rem;
  }

  .active-description {
    color: rgb(150, 150, 150);
    font-size: 1.2rem;
  }

  .active-primary {
    color: white;
    font-size: 1.3rem;
  }

  .active-edit {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: white;
    background-color: rgb(48, 48, 202);
    border: none;
    border-radius: 4px;
    margin-left: 0.5rem;
  }

  .active-save {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: white;
    background-color: rgb(42, 174, 77);
    border: none;
    border-radius: 4px;
    margin-left: 0.5rem;
  }

  .active-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .active-finish {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: black;
    background-color: rgb(64, 210, 255);
    border: none;
    border-radius: 4px;
    margin-top: 1.5rem;
  }

  .active-delete {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: white;
    background-color: rgb(213, 37, 37);
    border: none;
    border-radius: 4px;
    margin-top: 1.5rem;
  }

  .active-delete, .active-primary, .active-edit, .active-finish, .active-save:hover {
    cursor: pointer;
  }

  .editing_input {
    width: 100%; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    min-height: 50px; /* Minimum height before user starts typing */
    font-family: inherit; /* To keep the font consistent with the rest of your form */
    font-size: 16px; /* Adjust as needed */
    margin-bottom: 10px; /* Space below the textarea */
    padding: 8px; /* Padding inside the textarea */
    box-sizing: border-box; /* To include padding and border in the total width and height */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    resize: vertical;
    word-wrap: normal;
  }

  .editing_input-small {
    width: auto; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    font-family: inherit; /* To keep the font consistent with the rest of your form */
    font-size: 16px; /* Adjust as needed */
    padding: 4px; /* Padding inside the textarea */
    box-sizing: border-box; /* To include padding and border in the total width and height */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
  }

  .img-upload {
    color: white;
  }

  .genres {
    display: flex;
    gap: 0.5rem;
  }

  .genres > p {
    font-size: 0.8rem;
    color: white;
    background: #1462a3;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
  }